---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Categories from '../components/Categories.astro';
import QuickQuestion from '../components/QuickQuestion.astro';
import FeaturedMasail from '../components/FeaturedMasail.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Categories />
    <QuickQuestion />
    <FeaturedMasail />
  </main>
  <Footer />
</Layout>
